/* Setting the background color for whole body */
body {
    background-color: #34568B;
}
/* Setting the vertical line distance for h4 tag text */
h4 {
    line-height: 1.5;
}
/* Setting the padding for contact class to make it visible as a seperate box */
.contact {
    padding: 4%;
}
/* Setting the font for contact form */
form {
    font-family: "Roboto", sans-serif;
}
/* Styling for left section  */
.col-md-4 {
    background: #a5eee2;
    padding: 4%;
    /*Curving the edges*/
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
/* Styling for contact-info/left section */
.contact-info {
    margin-top: 10%;
    font-family: "Montserrat", sans-serif;
    /* To align all the elements center */
    text-align: center;
}
/* Setting some bottom margin to seperate heading in left section */
.contact-info h2 {
    margin-bottom: 10%;
}
/* Styling for actual contact form */
.col-md-8 {
    background: #fff;
    padding: 3%;
    /* Curving the edges */
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Setting the style for all the labels in contact form */
form label {
    font-weight: 600;
    padding: 10px;
}

/* Style for submit button */
.form-group button {
    background: #126e82;
    /* Color of the text on submit button */
    color: #fff;
    font-weight: 600;
    width: 25%;
    /* Margin to seperate the button from above elements */
    margin-top: 10px;
}
